@keyframes heartbeat {
  0% {
    transform: scale(.5);
  }

  20% {
    transform: scale(.8);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(.8);
  }

  80% {
    transform: scale(.5);
  }

  100% {
    transform: scale(.3);
  }

}

body {
  margin: 0px;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading > .spinner {
  background: #3e54c5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: heartbeat 1s infinite;
}

#login-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #3e54c5;
}

#login-container > button {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background: #fff;
  color: #999;
  border: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
}

#login-container > button:hover {
  cursor: pointer;
}

#login-container > button > img {
  width: 15px;
  height: auto;
  margin-right: 10px;
  border-right: 1px solid #999;
  padding-right: 10px;
}

#chat-box {
  width: 100%;
  height: 100%;
  display: flex;
}

#chat-box > .sidebar {
  width: 20%;
  background: grey;
}

#profile {
  border-bottom: 2px solid #bbc5bb;
  display: flex;
  align-items: center;
  padding: 20px;
}

#profile > img {
    width: 100px;
    height: 100px;
    background: #fff;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar > h2 {
  text-align: center;
}

#chats {
  display: flex;
  flex-direction: column;
}

#chats > ul {
  list-style: none;
  padding: 0;
}

#chats > ul > li {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid;
    padding: 20px;
}

#chats > ul > li:hover {
  cursor: pointer;
}
#chats > ul > li > .hidden {
  display: none;
}
#chats > ul > li > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  background: #4e4e46;
}

#chats > ul > li > span {

}

.messages-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

#receiver {
  display: flex;
  border-bottom: 1px solid grey;
  align-items: center;
  padding: 20px 0;
}

#receiver > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: grey;
  margin-right: 10px;
}

#receiver > span {
  font-size: 20px;
  font-weight: 500;
  color: #4e4e4e;
}

#messages {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#messages > .messages-list {
  list-style: none;
  padding: 0;
  background-color: #e7e0de;
  flex: 1;
}

#messages > .messages-list > .message {
  padding: 10px;
  display: flex;
  width: fit-content;
  background: #fff;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

#messages > .input-fields {
  padding: 10px;
  display: flex;
  align-items: center;
}

#messages > .input-fields > input {
  width: 160px;
}

#messages > .input-fields > textarea {
  width: 100%;
  border: 1px solid #eae4e2;
  border-radius: 5px;
  margin: 0 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  font-size: 16px;
}

#messages > .input-fields > button {
  padding: 5px 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  border-radius: 3px;
  background: #0a650a;
  color: #fff;
  font-size: 12px;
}

#logout {
  align-self: center;
  align-self: center;
  padding: 10px 20px;
  text-transform: uppercase;
}



.messages-container {}
